body {
	background: #c8a2c8;
}

.hrr {
	font-size: 20px;
}

h1 {
	text-align: center; 
	color: darkblue;
}

p {
	color: darkblue; 
	font-size: 20px;
}

.bor {
	color: maroon;
	font-size: 20px;
}

.ull {
	font-size: 18px;
}

.oll {
	font-size: 18px;
}